@{
    ViewData["Title"] = "Página inicial";
}

<div class="text-center">
    <h1 class="display-4">Brasil</h1>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Modi accusamus tempora illum quasi? Consequatur vero at similique explicabo. Odio nam asperiores error, deleniti amet consequatur corporis eveniet similique dignissimos aperiam!
    </a>.</p>
</div>
